table,
.mat-spinner {
  width: 90%;
  margin: 2rem auto;
}

.mat-column-id,
.mat-column-edit,
.mat-column-delete {
  width: 10%;
}

.mat-column-edit,
.mat-column-delete {
  cursor: pointer;
}

.mat-column-edit:hover,
.mat-column-delete:hover {
  opacity: 0.5;
}

.user-management-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
